<head>
        <title>Piazza</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<a href="{% url 'forum:index' %}" class='btn btn-primary'  style="position:relative;
top:50%; 
left:0%;">All Discussions</a>
<hr>

<div class="container">
    <div class="col-sm-8">
        <div class="panel panel-white post panel-shadow">
            <div class="post-heading">
                <div class="pull-left image">
                    <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                </div>
                <div class="pull-left meta">
                    <div class="title h5">
                        <b>{{thread1.author}}</b>
                        {% if thread1.author_type == 1 %}
                            (A Student)
                        {% endif %}
                        {%if thread1.author_type == 2 %}
                            (An Instructor)
                        {% endif %}
                        Has Started New Discussion.<br>{{thread1.timedays}}days,{{thread1.timehour}} hours and {{thread1.timeminutes}}minutes old.
                    </div>
                    <!-- <h6 class="text-muted time"><span am-time-ago="discussion.dateCreated"></span></h6> -->
                </div><br>
            </div><br>
            <div class="post-description"> 

                <br><strong>{{thread1.subject}}</strong>
                <p>{{thread1.value}}</p>

            </div>
            <div class="post-footer">
                
                
                
                <ul class="comments-list" ng-repeat='reply in discussion.replies'>
                {% for comment in thread1.comment_set.all%}
                    <li class="comment">
                        <a class="pull-left" href="#">
                            <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                        </a>
                        <div class="comment-body">
                            <div class="comment-heading">
                                <h4 class="user">{{comment.author}} 
                                    {% if comment.author_type == 1 %}
                                        (A Student)
                                   {% endif %}
                                   {%if comment.author_type == 2 %}
                                       (An Instructor)
                                   {% endif %}
                                </h4>
                                <!-- <h5 class="time"><span am-time-ago="reply.dateCreated"></span></h5> -->
                            </div>
                            <p>{{comment.comment}}</p>
                        </div>

                    </li>
                {% endfor %}
                </ul>
                <div>
                  <a href="/forum/{{thread1.id}}/add/"> <button type="button" class="btn btn-primary">Add comment</button></a>
                    </div>

            </div>
        </div>
    </div>
</div>


<div id="goDown"></div>


