<head>
        <title>Piazza</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
</head>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:index' %}">All Disscussions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'forum:resources'%}">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse"></div>
        
                <font size=3 face ="Comic Sans Ms" color="white">Hello {{user.username}} !&nbsp;</font>
                <a href="{% url 'forum:logout'%}"><button type="button" class="btn btn-danger">LOGOUT</button></a>
            </div>    
      </nav>
   


<br>
<div class="row"style="height: 100%;">
     <div class="" style="background-color: aliceblue"> 
    <div class="col-12" >

                    {% if all_thread %}
                    
                        <ul>
                            
                            {% for thread in all_thread%}
                               
                                        <br>
                                       
                                        <h4> <li><a href="/forum/{{thread.id}}/">{{thread.subject}}</a></li></h4>
                                        <font size=3>{{thread.value}}</font>
                                     
                                        <br>  
                                    
                            {% endfor %}
                         
                        </ul>   
                    
                        {% else %}
                            <h3> you dont have any threads</h3>
                        {% endif %}
            
                    
    </div>
    </div>  
    
    <div class="container">
        <div class="col-sm-8">
            <div class="panel panel-white post panel-shadow">
                <div class="media border p-3">
                    <div class="media-body">
                        <div class="post-heading">
                        <div class="pull-left image">
                            <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
                        </div>
                        <div class="pull-left meta">
                            <div class="title h5">
                                <b>{{thread1.author}}</b>
                                {% if thread1.author_type == 1 %}
                                    (A Student)
                                {% endif %}
                                {%if thread1.author_type == 2 %}
                                    (An Instructor)
                                {% endif %}
                                Has Started New Discussion.<br>{{thread1.timedays}}days,{{thread1.timehour}} hours and {{thread1.timeminutes}}minutes old.
                            </div>
                        {% if user.is_superuser %}
                
                            <form action="{% url 'forum:thread-delete' thread1.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden"  name="thread_id" value="{{thread1.id}}"/>    
                                <button class="btn btn-danger" type= submit>delete</button>
                            </form>
                            {% endif %}
                            <!-- <h6 class="text-muted time"><span am-time-ago="discussion.dateCreated"></span></h6> -->
                        </div>
                    </div>
                    <div class="post-description"> 

                    <font size=5> <strong>{{thread1.subject}}</strong> </font>
                        <div>{{thread1.value}}</div>
                        <br>

                    </div>
                
                    <div class="post-footer">
                        <h3>Comments:</h3>
                        <ul class="comments-list">
                        
                        {% for comment in thread1.comment_set.all%}
                            <div class="media p-3">
                            <div class="media-body">
                                <li class="comment">
                                    <a class="pull-left" href="#">
                                        <img class="avatar" src="http://bootdey.com/img/Content/user_3.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user">{{comment.author}} 
                                                {% if comment.author_type == 1 %}
                                                    (A Student)
                                            {% endif %}
                                            {%if comment.author_type == 2 %}
                                                (An Instructor)
                                            {% endif %}
                                            </h4>
                                            <!-- <h5 class="time"><span am-time-ago="reply.dateCreated"></span></h5> -->
                                        </div>
                                        <p>{{comment.comment}}</p>
                                    </div>

                                </li>
                             </div>
                            </div>
                        {% endfor %}
                        </ul>
                        <div>
                        <a href="/forum/{{thread1.id}}/add/"> <button type="button" class="btn btn-success">Add comment</button></a>
                            </div>

                    </div>
                    </div>
                </div>
            
            </div>
        </div>
    </div>
</div>




